flask==3.1.2
flask-cors==6.0.1
flask-socketio==5.5.1
SpeechRecognition==3.14.4
gTTS==2.5.4
pydub==0.25.1
python-engineio==4.12.3
python-socketio==5.15.0
Werkzeug==3.1.4
Jinja2==3.1.6
itsdangerous==2.2.0
click==8.1.8
blinker==1.9.0
h11==0.16.0
wsproto==1.2.0
bidict==0.23.1
requests==2.32.5
urllib3==2.5.0
certifi==2025.11.12
charset-normalizer==3.4.4
idna==3.11
typing-extensions==4.15.0
zipp==3.23.0
